@include mobile {
  .wrapper {
    padding: 10px;
  }
  .login_wrap {
    width: 100%;
  }
}

@include tablet {
  .wrapper {
    position: relative;
    .aside-box {
      display: none;
      &.on {
        display:block;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: $bgColor;
        z-index: 6;
        > li {
          text-align: center;
        }

      }
    }
    .navbar {
      width: 100%;
      justify-content: space-between;
    }
    
    .main-panel {
      .content {
        .cnt_blah {
          padding: 0px;
        }
      }
    }
  }
  .menu_wrap {
    .menu_icon {
      display: block;
      > span {
        position: relative;
        z-index: 4;
      }
    }
  }
  
}

@include desktop {
  .menu_wrap {
    display: none;
  }
}