body {
  background-color: $bgColor;
  color: #fff;
  font-size: 1.2rem;
  
  a {
    color: #fff;
    text-decoration: none;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  .aside-box {
    width: 200px;
    height: 100vh;
    padding: 20px;
    border-right: 1px solid #fff;
    > li  {
      padding: 20px;
    }
    
  }

  .main-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    padding: 20px;
    width: calc(100% - 200px);
    background-color: #202226;
    text-align: right;
  }
}
.menu_wrap {
  position: relative;
  width: 20px;
  height: 20px;
  cursor:pointer;

  .menu_icon {
    opacity: 0;
    z-index: 5;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -3px;
    left: -4px;
  }
  > span {
    position: absolute;
    display:block;
    width: 20px;
    height: 3px;
    border-radius: 40px;
    background:#fff;
    transition: all 0.35s; 
    z-index:4;
  }

  > span:nth-child(1) {
    top:0px;
  }

  > span:nth-child(2) {
    top:50%;
    transform: translateY(-50%);  /* 엘리먼트를 변형할 때 쓴다. 비틀거나 구부리거나 돌릴 때 . 여러가지로 모양을 바꿀 때 */
  }

  > span:nth-child(3) {
    bottom:0px;
  }
}
